
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Admin Page</h1>

<h3>Admin: @Session["Admin"]</h3>
<h3>Product Quantity: @ViewBag.ProductQuantity</h3>